# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IP Lab Assignments\lab-8-Navruz-Rakhimov-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
